---
navPages:
  - title: Home
    url: /index
  - title: About Us
    url: /about-us
  - title: Departments
    url: /departments
  - title: Employment Opportunities
    url: /employment-opportunities
  - title: Contact Us
    url: /contact-us

eleventyNavigation: 
- title: Home
  url: /index
- title: About Us
  url: /about-us
- title: Departments
  url: /departments
- title: Employment Opportunities
  url: /employment-opportunities
- title: Sign Up for Emails
  url: /contact-us
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <header>
        <div class="location">
            A Street, Somewhere, in Mass. 
            (555)555-5555
        </div>
        <nav>
            <ul>
               
                  
                    {%- for entry in navPages %}
                    <li {% if entry.title ==name %} class="selected" {% endif %} >
                    <a href="{{ entry.url }}">{{ entry.title }}</a>
                    </li>
                    {%- endfor %}
                    
                
            </ul>
        </nav>
    </header>
    <main>{{content}}</main>
<div id= "footernav">
    {%- for entry in eleventyNavigation %}
    <li {% if entry.title ==name %} class="selected" {% endif %} >
    <a href="{{ entry.url }}">{{ entry.title }}</a>
    </li>
    {%- endfor %}
 </div>
</body>
</html>